*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
}

#header{
    height: 15vh;
    background-color: crimson;
}
#main{
    height: 75vh;
    background-color: antiquewhite;
    /* background: linear-gradient(180deg, rgba(220,20,60,1) 10%, rgba(250,235,215,1) 95%, rgba(105,105,105,1) 100%); */
}
#footer{
    height: 10vh;
    background-color: dimgray;
}

nav{
    background-color: crimson;
}

/* a:link,
a:visited,
a:active{
    text-decoration: none;
}


header{
    width: 100vw;
    height: 100px;
    background-color:crimson;
}
.menu{
    text-align: right;
    padding-right: 15px;
    position: absolute;
    top: 72px;
    right: 0vh;
}


main{
    width: 100vw;
    height: 500px;
    background-color: whitesmoke;
}


footer{
    width: 100vw;
    height: 69px;
    background-color: gainsboro;
    position: relative;
    bottom: 0;
}
.footer__social__icon{
    height: 20px;
    width: 20px;
    margin: 7px 3px;
    position: absolute;
    left: 40vw;
} */


/* INDEX */

/* UPCOMING */

/* MEDIA */

/* ABOUT */

/* CONTACT */


/* media queries bootstrap */
@media (min-width: 576px) {

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}
