* {
  margin: 0;
  padding: 0; }

body {
  width: 100vw; }

@font-face {
  font-family: Caveat;
  src: url(../assets/fonts/Caveat-VariableFont_wght.ttf); }

#header {
  height: 15vh;
  background: #825f46;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }
  #header div.container-fluid {
    padding: 0px 20px; }
  #header nav {
    background: #825f46;
    z-index: 10; }
    #header nav .navbar {
      align-items: center; }
    #header nav .navbar-brand {
      color: #fafafa;
      font-family: 'Caveat',cursive;
      font-size: 2.5rem; }
    #header nav .navbar-nav {
      align-items: flex-end; }
    #header nav .nav-link {
      color: #fafafa;
      font-size: 1.3rem; }
    #header nav .active {
      background-color: rgba(130, 95, 70, 0.5); }
    #header nav .dropdown-item:hover {
      color: #fafafa;
      background-color: rgba(130, 95, 70, 0.7) !important; }

#main {
  min-height: 72vh;
  background-color: #fafafa; }

#footer {
  height: 13vh;
  min-height: 100px;
  color: #fafafa;
  background: #232323; }
  #footer img {
    height: 20px;
    width: 20px; }
  #footer a {
    color: #fafafa;
    text-decoration: none; }
  #footer #footer__copyright {
    font-size: 0.75rem; }

.index__article__img {
  max-height: 72vh; }

.media__video {
  padding-top: 10px; }

.carousel {
  padding: 20px;
  max-width: 843px; }

img {
  max-width: 100%; }

.gallery {
  padding: 60px 0px; }
  .gallery img {
    background: #fff;
    padding: 15px;
    width: 100%;
    cursor: pointer; }
  .gallery img:hover {
    transition: transform 1s;
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }
  .gallery #gallery-popup .modal-img {
    width: 100%; }

.about__content ul li {
  list-style-type: square; }

.upcoming__main {
  font-size: 1.2rem; }

h2.text-center {
  padding: 0px;
  font-style: italic; }

.contact__form {
  padding-top: 20px;
  max-width: 450px; }
  .contact__form .form-control:focus {
    border-color: #fafafa;
    box-shadow: 0 0 0 0.25rem rgba(130, 95, 70, 0.25); }
  .contact__form .form-check-input:focus {
    border-color: #fafafa;
    box-shadow: 0 0 0 0.25rem rgba(130, 95, 70, 0.25); }
  .contact__form .form-check-input:checked {
    border-color: #825f46;
    background-color: #825f46; }
  .contact__form .btn-outline {
    color: #825f46 !important;
    border-color: #825f46 !important; }
  .contact__form .btn-outline:hover {
    color: #fafafa !important;
    background-color: #825f46 !important; }
  .contact__form div #contact__comment {
    height: 100px; }

.sitemap__content h4 {
  padding-top: 3vh; }

.sitemap__content ul {
  font-size: 1.3rem;
  padding: 0px; }
  .sitemap__content ul li {
    list-style-type: none;
    margin: none; }

@media (min-width: 425px) {
  #header div.container-fluid {
    padding: 0px 30px; }
  #header nav .navbar-brand {
    font-size: 3rem; }
  .about__img {
    max-width: 425px; }
  .media__video {
    width: 380px;
    height: 214px; } }

@media (min-width: 576px) {
  .index__article__img {
    padding: 15px; }
  .media__video {
    width: 480px;
    height: 270px; } }

@media (min-width: 768px) {
  .media__video {
    width: 768px;
    height: 432px; } }

@media (min-width: 992px) {
  .nav-link:hover {
    transition: transform 0.05s;
    transform: scale(1.03); } }
