* {
  margin: 0;
  padding: 0; }

body {
  width: 100vw; }

@font-face {
  font-family: Caveat;
  src: url(../assets/fonts/Caveat-VariableFont_wght.ttf); }

#header {
  height: 15vh;
  background: #836754;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }
  #header div.container-fluid {
    padding: 0px 20px; }
  #header nav {
    background: #836754;
    z-index: 10; }
    #header nav .navbar {
      align-items: center; }
    #header nav .navbar-brand {
      color: #fafafa;
      font-family: 'Caveat',cursive;
      font-size: 2.5rem; }
    #header nav .navbar-nav {
      align-items: flex-end; }
    #header nav .nav-link {
      color: #fafafa;
      font-size: 1.5rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    #header nav .dropdown-item.active {
      background-color: rgba(131, 103, 84, 0.6); }
    #header nav .dropdown-item:hover {
      color: #fafafa;
      background-color: rgba(131, 103, 84, 0.75) !important; }
    #header nav .navbar-toggler.navbar-dark {
      border: 0; }
    #header nav .navbar-toggler.navbar-dark:focus {
      box-shadow: none; }
    #header nav .nav-link.dropdown-toggle.show:focus {
      box-shadow: none; }

#main {
  min-height: 72vh;
  background-color: #fafafa;
  padding: 0; }
  #main .row {
    margin: 0; }

#footer {
  height: 13vh;
  min-height: 100px;
  color: #fafafa;
  background: #63625f; }
  #footer img {
    height: 25px;
    width: 25px; }
  #footer a {
    color: #fafafa;
    text-decoration: none; }
  #footer #footer__copyright {
    font-size: 0.75rem;
    margin: 0; }

#index__main {
  height: 72vh;
  min-height: 400px;
  background-size: cover;
  background-position: 55% 40%;
  background-image: url(https://static.wixstatic.com/media/f487b0_25434844890d4e73a06040e8e91ff0ef~mv2.jpeg/v1/fill/w_990,h_642,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f487b0_25434844890d4e73a06040e8e91ff0ef~mv2.jpeg); }

img {
  max-width: 100%; }

.gallery img {
  background: #fff;
  padding: 15px;
  width: 100%;
  cursor: pointer; }

.gallery img:hover {
  transition: transform 1s;
  transform: scale(1.03);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }

.gallery #gallery-popup .modal-img {
  width: 100%; }

.about__content ul li {
  list-style-type: square; }

.card {
  max-width: 600px; }

.card:hover {
  transition: transform 300ms;
  transform: scale(1.03);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }

.card-footer {
  background: none;
  border: none;
  text-align: end; }
  .card-footer a {
    text-decoration: none;
    color: #836754; }
  .card-footer a:hover {
    color: #836754;
    text-decoration: underline; }

.img__article {
  width: 100%;
  cursor: pointer; }

.article__link {
  text-decoration: none;
  color: #836754; }

.article__link:hover {
  color: #836754;
  text-decoration: underline; }

h2.text-center {
  padding: 0px;
  font-style: italic; }

.contact__form {
  padding-top: 20px;
  max-width: 450px; }
  .contact__form .form-control:focus {
    border-color: #fafafa;
    box-shadow: 0 0 0 0.25rem rgba(130, 95, 70, 0.25); }
  .contact__form .form-check-input:focus {
    border-color: #fafafa;
    box-shadow: 0 0 0 0.25rem rgba(130, 95, 70, 0.25); }
  .contact__form .form-check-input:checked {
    border-color: #836754;
    background-color: #836754; }
  .contact__form .btn-outline {
    color: #836754 !important;
    border-color: #836754 !important; }
  .contact__form .btn-outline:hover {
    color: #fafafa !important;
    background-color: #836754 !important; }
  .contact__form div #contact__comment {
    height: 100px; }

.sitemap__content ul {
  font-size: 1.1rem;
  padding: 0px; }
  .sitemap__content ul a {
    text-decoration: none;
    color: #836754; }
  .sitemap__content ul a:hover {
    text-decoration: underline;
    color: #836754; }
  .sitemap__content ul li {
    margin-left: 1rem; }
    .sitemap__content ul li ul li {
      font-size: 1rem; }

@media (min-width: 425px) {
  #header div.container-fluid {
    padding: 0px 30px; }
  #header nav .navbar-brand {
    font-size: 3rem; }
  .about__img {
    max-width: 425px; } }

@media (min-width: 992px) {
  .nav-link:hover {
    transition: transform 0.05s;
    transform: scale(1.03); } }
