*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
}
@font-face {
    font-family: Caveat;
    src: url(../assets/fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: NanumGothic;
    src: url(../assets/fonts/NanumGothic-Regular.ttf);
}
@font-face {
    font-family: RobotoSlab;
    src: url(../assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

