#footer{
    height: 10vh;
    min-height: 60px;
    color: $color-footer;
    background: $background-footer;
    .footer__social__icon{
        height: 20px;
        width: 20px;
        margin: 15px 0px 3px 0px;
    }    
}
