#footer{
    height: 13vh;
    min-height: 100px;
    color: $color-footer;
    background: $background-footer;
    img{
        height: 20px;
        width: 20px;
    }
    a{
        color:$color-footer;
        text-decoration:none;
    }
    #footer__copyright{
        font-size: 0.75rem;
    }
}
