@font-face {
    font-family: Caveat;
    src: url(../assets/fonts/Caveat-VariableFont_wght.ttf);
}

#header{
    height: 15vh;
    background: $background-header;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    div.container-fluid{
        padding: 0px 20px;
    }
    nav{
        .navbar{
            align-items: center;
        }
        background: $background-header;
        z-index: 10;
        .navbar-brand{
            color:$color-header;
            font-family: 'Caveat',cursive;
            font-size: 2.5rem;
        }
        .navbar-nav{
            align-items: flex-end;
        }
        .nav-link{
            color:$color-header;
            font-size: 1.3rem;
        }
        
        .active{
            background-color: rgba(130, 95, 70, 0.5);
        } 
        
        .dropdown-item:hover{
            color: $background-main;
            background-color: rgba(130, 95, 70, 0.7) !important;
        }
    }
}