@font-face {
    font-family: Caveat;
    src: url(../assets/fonts/Caveat-VariableFont_wght.ttf);
}

#header{
    height: 15vh;
    background: $background-header;
    nav{
        background: $background-header;
        z-index: 10;
        .navbar-brand{
            color:$color-header;
            font-family: 'Caveat',cursive;
            font-size: 2.5rem;
        }
        .nav-link{
            color:$color-header;
            font-size: 1.3rem;
        }
        
        .active{
            background-color: $background-header !important;
        } 
        
        .dropdown-item:hover{
            color: $background-main;
            background-color: $background-header;
        }
    }
}