@media (min-width: 330px) {
}

@media (min-width: 425px) {
    #header{
        div.container-fluid{
            padding: 0px 30px;
        }
        nav{
            .navbar-brand{
                font-size: 3rem;
            }
        }
    }
    .about__img{
        max-width: 425px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) { 
}

@media (min-width: 992px) {
    .nav-link:hover{
        transition: transform 0.05s;
        transform: scale(1.03);
    }
}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}