@import "./vars";

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    // min-height: 100vh;
}

@import "./header";
@import "./main";
@import "./footer";
@import "./pages/index";
@import "./pages/media";
@import "./pages/gallery";    
@import "./pages/about";
@import "./pages/upcoming";
@import "./pages/contact";
@import "./mediaqueries";

