
section{
    h2{
        padding-top: 6px;
        padding-left: 10px;
    }
    ul{
        li{
            list-style-type: none;
            text-align: justify;     
        }
    }
    // h6{
    //     padding-left: 10px;
    // }
}
