h2.text-center{
    padding: 0px;
    font-style: italic;
}
.contact__form{
    padding-top: 20px;
    max-width: 450px;
    .form-control:focus{
        border-color: $background-main;
        box-shadow:0 0 0 0.25rem rgba(130, 95, 70, 0.25);
    }
    .form-check-input:focus{
        border-color: $background-main;
        box-shadow:0 0 0 0.25rem rgba(130, 95, 70, 0.25);
    }
    .form-check-input:checked{
        border-color: $background-header;
        background-color: $color-main;
    }
    .btn-outline {
        color:$color-main !important;
        border-color: $color-main !important;
    }
    .btn-outline:hover{
        color: $background-main !important;
        background-color: $color-main !important;
    }
    div{
        #contact__comment{
            height: 100px;
        }
    }
}
.contact__col{
    max-width: 450px !important;
}
.contact__arrow-down{
    height: 78px;
    width: 101px;
}