.sitemap__content{
    h4{
        padding-top: 3vh;
    }
    ul{
        font-size: 1.3rem;
        padding: 0px;
        li{
            list-style-type: none;
            margin: none;
        }
    }
}
